services:
  gateway:
    container_name: ontdbblr.mor.local
    build: ./nginx
    volumes:
      - ./nginx/nginx-default.development.conf:/etc/nginx/conf.d/default.conf
      - ./media:/media
    depends_on:
      ontdbblr_app:
        condition: service_started
    ports:
      - 8007:8007
    networks:
      - mor_bridge_network
    env_file:
      - .env.local
  ontdbblr_app:
    build: ./app
    env_file:
      - .env.local
    volumes:
      - ./media:/media
      - ./app:/app
    depends_on:
      redis:
        condition: service_started
      database:
        condition: service_started
    networks:
      - ontdbblr_network
      - mor_bridge_network
    command: ["bash", "/app/deploy/docker-entrypoint.development.sh"]
    restart: always

  database:
    image: postgres:16.1
    shm_size: '1024m'
    ports:
      - "5432"
    env_file:
      - .env.local
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - ontdbblr_network

  redis:
    image: redis
    networks:
      - ontdbblr_network
    ports:
      - "6379"

volumes:
  postgres-data:

networks:
  ontdbblr_network:
    external: true
  mor_bridge_network:
    external: true
