@mixin bodyModal {
    overflow: hidden;
    padding-right: 0;
}

@mixin modalVisible {
    opacity: 1;
    visibility: visible;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);

    .modal-backdrop {
        display: block;
        opacity: 0;
    }
}

body.show-modal {
    @include bodyModal();

    .modal-backdrop {
        display: block;
        opacity: 0.5;
    }

    .modal.show {
        @include modalVisible();
    }
}

body.show-modal--transparent {
    @include bodyModal();

    .modal-backdrop {
        display: block;
        opacity: 0.5;
    }

    .modal--transparent.show {
        @include modalVisible();
    }
}

body.show-modal--first-filter {
    .modal--first-filter {
        @include modalVisible();
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2100;

    &-dialog {
        display: flex;
        align-items: center;
        min-height: calc(100% - 3rem);
        position: relative;
        width: 90%;
        max-width: $modal-md;
        margin: 1.5rem auto;
    }

    &-content {
        background: $white;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 20;
    }

    &-header {
        position: relative;
        padding-left: $container-padding-x;
        padding-bottom: 4px;

        h1 {
            padding: 25px 1.5rem 0 0;
            margin: 0 0 1rem;
            font-size: calc(1.25rem + 1vw);

            > span {
                padding-right: 48px;
            }

            small {
                display: block;
                font-weight: 400;
                font-size: 1rem;
                margin-top: 0.5rem;
                padding: 4px $input-padding-y;
                line-height: 1.5rem;
                background-color: $gray-tint02;
            }
        }
    }

    &-body {
        padding: 0 $container-padding-x $container-padding-x;
    }

    &-footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: $modal-inner-padding;
    }

    // &-backdrop {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     z-index: 10;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: $black;
    //     opacity: 0;
    //     display: none;
    // }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    opacity: 0;
    display: none;
}

.modal--transparent {
    text-align: center;

    .modal-dialog {
        max-width: none;
        text-align: center;
        display: inline-block;
        width: auto;

        .modal-content {
            background: transparent;
            pointer-events: initial;
        }
    }

    .modal-header {
        padding: 0;
    }

    .modal-body {
        padding: 0;
    }

    .container-image {
        user-select: none;
        cursor: grab;
    }

    img {
        max-width: 90vw;
        max-height: 90vh;
        pointer-events: all;
        cursor: grab;
    }
}
